<%= render "users/shared/navigation" %>
<h3 class="login-heading mb-4">Bem Vindo ao Blog da Umanni!</h3>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="form-label-group">
  <%= f.email_field :email, autofocus: true, autocomplete: "email",
  id:"inputEmail", class: "form-control", placeholder: "Email address" %>
  <label><%= f.label :email, for: "inputEmail" %></label>
</div>

<div class="form-label-group">
  <%= f.password_field :password, autocomplete: "current-password",
  id: "inputPassword", class: "form-control", placeholder: "Password" %>
  <label><%= f.label :password, for:"inputPassword" %></label>
</div>
<% if devise_mapping.rememberable? %>
<div class="custom-control custom-checkbox mb-3">
  <%= f.check_box :remember_me, class: "custom-control-input", id:"customCheck1" %>
  <%= f.label :remember_me, class: "custom-control-label", for: "customCheck1" %>
</div>
<% end %>

<%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" %>
<div class="text-center">
  <%= render "users/shared/links" %>
</div>
<% end %>
</div>
<%= render "users/shared/footer" %>
