<%= render "dashboard/posts/shareds/page_heading" %>
<%= render "dashboard/posts/shareds/card_heading" %>
<div class="table-responsive-sm">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Subtitle</th>
        <th scope="col">Body</th>
        <th scope="col">Categoria</th>
        <th scope="col">Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
      <tr>
        <td> <%= post.id %></td>
        <td> <%= post.title %></td>
        <td> <%= post.subtitle %></td>
        <td><%= sanitize post.body %></td>
        <td><%= post.category.description %></td>
        <td> <%= l post.created_at, format: :short %></td>
        <td>
          <%= link_to "Editar", edit_dashboard_post_path(post) %>
          <%= link_to "Excluir", dashboard_post_path(post), method: :delete,
          data: { confirm: "Tem certeza que deseja excluir?"} %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= render "dashboard/posts/shareds/footer" %>
