<%= render "dashboard/posts/shareds/page_heading" %>
<%= link_to "Retornar", dashboard_posts_path %>
<br>
<div class="row">
  <!-- Area Chart -->
  <div class="col-xl-12 col-lg-12">
    <div class="card shadow">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between ">
        <h6 class="m-0 font-weight-bold text-primary">Visualizando Post</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">        <!-- Title -->
        <h1 class="mt-1"><%= @post.title %></h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="#"><%= @post.user.username %></a>
        </p>

        <hr>

        <!-- Date/Time -->
        <small>Postado em <%= l @post.created_at, format: :long %></small>

        <hr>
        <div class="text-center">
          <p class="lead">
            <%= sanitize @post.body.gsub("\n", '<br>').html_safe %>
          </p>
        </div>
        <hr>
        <!-- Single Comment -->
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div>
        <!-- Single Comment -->
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
