<h2 class="text-muted">
  <% if @posts.any? %>
  <%= pluralize(@posts.count, 'resultado') %> encontrados:
  <% else %>
  Nenhum resultado encontrado.
  <% end %>
</h2>

<% @posts.each do |post| %>
<div class="card shadow">
  <div class="card-body m-0">
    <div class="post-preview m-auto p-0">
      <%= link_to site_post_path(post) do %>
      <h2 class="post-title">
        <%= post.title.truncate(100) %>
      </h2>
      <h3 class="post-subtitle">
        <%= post.subtitle.truncate(100)%>
      </h3>
      <% end %>
      <% if current_user && post.user.id == current_user.id %>
      <p class= "text-right icons-size p-0 m-0">
        <%= link_to edit_dashboard_post_path(post) do %>
        <i class="fa fa-edit"></i>
        <% end %> |
        <%= link_to dashboard_post_path(post), method: :delete,
        data: { confirm: "Tem certeza que deseja excluir?"} do %>
        <i class="fa fa-trash-alt"></i>
        <% end %>
      </p>
      <p class="post-meta">Postado por
        <a href="#"><%= post.user.username %></a>
        em <%= l post.created_at, format: :long %>
      </p>
      <% end %>
    </div>
  </div>
</div>
<br>
<% end %>
